<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="LayoutPadrao :: cabecalho">
<title>Cadastro de Reuniões</title>
<meta charset="utf-8" />
</head>

<head th:replace="LayoutPadrao::navegacao"></head>








<!--Quem somos-->
<section id="quemSomos">
	<div class="container">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>
					<br>Win Condomínio do Brasil</br>
					<small><a href="#">Conheça nossa empresa</a></small>
				</h1>
			</div>
		</div>
	</div>
</section>
<!--// quem somos-->

<!-- cursos-->
<section id="cursos" class="div_color">
	<div class="container">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>
					<a href="cursos.html">Diversos áreas em que atuamos</a><br></br>
					<small>Análise  e avaliação de condomínios,recepção e administração</small>
				</h1>

			</div>
		</div>
	</div>
</section>
<!--// cursos-->

<!--unidades-->
<section id="unidades">
	<div class="container">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>
					Unidades<br></br>
					<small>Em todo o Estado</small>
				</h1>
			</div>
		</div>
	</div>

</section>

<!--// unidades-->
<!--contatos-->
<section id="contatos" class="div_color">
	<div class="container">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>
					Contatos<br></br>
					<small><a href="contato.html">Fale Conosco</a></small>
				</h1>
			</div>
		</div>
	</div>
</section>

<!--//contatos-->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<p>
					Copyright &copy;<span>César Lopes</span>
				</p>
			</div>
		</div>
	</div>
</footer>



</html>